

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    padding: 100px 0;
}


  
  .header__nav-list {
    display: flex;
    gap: 15px;
    font-size: 18px;
    margin-left: 51px;
    list-style: circle; 
  }
  
  .header__nav-list li {
    padding-left: 8px; 
    margin-left: 12px; 
  }
  
  .header__nav-list li:first-child {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  .header__nav-link {
    color: #333;
    font-size: 18px;
    text-underline-offset: 4px;
  }
  
  .header__nav-link--active {
    text-decoration: none;
  }

  
  .header__logo {
    display: flex;
    align-items: center;
    margin-right: 150px;
  }
  
  .header__logo img {
    width: 148px;
    height: 105px;
  }

  .contacts__header {
    margin-right: 87px;
  }
  
  .contacts {
    font-style: normal; 
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  
  .contacts__link {
    color: #333;
    font-size: 18px;
    text-underline-offset: 4px;
  }

  .contacts__adres {
    text-decoration: none;
    
  }
  
  
  .cover {
    position: relative;
    width: 1100px; 
    min-height: 757px; 
    background: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px; 
}
  

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.cover__title {
    position: relative;
    width: 100%;
    color: #fff;
    z-index: 2;
}

.cover__title-line {
    display: block;
    text-transform: uppercase;
    white-space: nowrap; 
    margin-top: 110px;
    font-size: 100px; 
    letter-spacing: 30px; 
}

.cover__title-line:nth-child(1) {
    text-align: left;
    padding-left: 0;
}

.cover__title-line:nth-child(2) {
    text-align: center;
    margin-top: 30px;
    padding-left: 30px; 
}

.cover__title-line:nth-child(3) {
    text-align: right;
    margin-top: 25px;
    padding-left: 620px; 
}

.cover__footer {
    bottom: 50px;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.cover__subtitle {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 19px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 10px 0; 
}

.cover__button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 257px;
    height: 52px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lots-heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 190px;
    margin-bottom: 30px;
    margin-left: 65px;
    color: #000;
}



.lots-list {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 24px;
}

.lot-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lot-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.lot-item {
    position: relative;
    width: 334px; 
    min-height: 596px; 
    padding: 20px; 
    box-sizing: border-box; 
}


.lot-item-01 .lot-card {
    background-image: url('../images/card-lot-01.jpg');
}

.lot-item-02 .lot-card {
    background-image: url('../images/card-lot-02.jpg');
}

.lot-item-03 .lot-card {
    background-image: url('../images/card-lot-03.jpg');
}

.lot-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.lot-title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    margin-top: 28px;
    margin-left: 20px;
    z-index: 2;
}

.lot-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    z-index: 1;
    margin-top: 28px;
    margin-left: 20px;
}

.more-link-container {
    padding-left: 50px;
    margin: 50px 0;
}

.more-link {
    display: inline-block;
    font-size: 20px;
    color: #000;
    margin-left: 65px;
    margin-top: 38px;
    text-underline-offset: 5px;
}




.about {
    display: flex;
    color: #000000;
    padding: 153px 65px;
    gap: 25px;
    max-width: 1340px;
    margin: 0 auto;
    align-items: flex-start;
}

.about__column--logo {
    flex: 0 0 350px;
    margin-top: 0%;
}


.about__logo-circle {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.about__logo {
    width: 148px;
    height: 114px;
}

.about__column--text {
    margin-top: 95px;
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 114px;
    color: #000;
}

.about__text {
    font-size: 20px;
    color: #000;
}

.about__paragraph {
    margin-bottom: 30px;
    width: 100%;  
}

.about__paragraph:last-child {
    margin-bottom: 0;
    width: 100%;  
}


.footer {
    padding: 100px 50px 60px;
    color: #000000;
}

.footer__container {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer__nav-list {
    list-style: none;
    font-style: normal;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -1px;      
}         

.footer__nav-link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__nav-link--active {
    text-decoration: none;
}

.footer__social {
    display: flex;
    gap: 48px;
    align-items: center;
}

.social__icon {
    width: 48px;
    height: 48px;
}












